@import '../../../../core/styles/variables';

.WidgetSwitch {
    .widgetSwitch {
        &__outer {
            margin: 5px 0;
            display: inline-block;
            width: 32px;
            height: 20px;
            border: 1px solid $admin__lightBackground;
            background-color: $admin__lightBackground;
            border-radius: 20px;
            position: relative;
            vertical-align: middle;
            box-sizing: content-box;
            cursor: pointer;
            transition: border 0.4s, box-shadow 0.4s;

            &_active {
                background-color: $admin__green;
                border-color: $admin__green;
                box-shadow: $admin__green 0px 0px 0px 11px inset;
                transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
            }
        }

        &__inner {
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
            background-color: $white;
            transition: background-color 0.4s, left 0.2s;
            border-radius: 10em;

            &_active {
                left: 12px;
            }
        }
    }
}
