@import '../../../../../../core/styles/variables';

.MenuSubItem {
    .menuSubItem {
        &__item {
            position: relative;
            font-size: 12px;

            &:before {
                background: #425668;
                bottom: auto;
                content: "";
                height: 8px;
                left: 23px;
                margin-top: 14px;
                position: absolute;
                right: auto;
                width: 8px;
                z-index: 1;
                border-radius: 50%;
            }

            &:after {
                border-left: 1px solid #425668;
                bottom: 0;
                content: "";
                left: 27px;
                position: absolute;
                top: 0px;
            }
        }

        &__link {
            text-decoration: none;
            display: block;
            padding: 12px 0 12px 50px;
            color: rgba(255, 255, 255, .75);

            &:hover {
                background-color: rgba(255, 255, 255, .05);
                color: #fff;
            }
        }
    }
}
