@import '../../../core/styles/variables';
@import '../../../core/styles/mixins';

.Footer {
    padding: 40px 0 0;
    text-align: center;
    background: $minorColor;

    @include respond-to(laptop) {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        width: 100%;
        color: $mainGreen;
        line-height: 1.25em;
        padding-bottom: 200px;
        background: transparent url('../../../../static/images/elements/vinyl-7.png') no-repeat center;
        background-position-y: 100%;
        background-size: auto 170px;

        @include respond-to(laptop) {
            padding-bottom: 300px;
            background-size: auto 270px;
        }

        @include respond-to(desktop) {
            padding-bottom: 400px;
            background-size: auto 370px;
        }

        &__title {
            font-size: $font_size_m;
            text-transform: uppercase;
            font-weight: bold;

            @include respond-to(desktop) {

                font-size: $font_size_m;
            }
        }

        &__link {
            position: relative;
            font-size: $font_size_s;
            margin-top: 30px;
            a {
                &:after {
                    content: '';
                    position: absolute;
                    top: -5px;
                    background: #ffffff url('../../../../static/images/svg/icon.svg') center no-repeat;
                    background-size: 25px;
                    height: 25px;
                    width: 25px;
                    margin-left: 10px;
                }
            }
        }

        &__logo {
            text-transform: uppercase;
            position: relative;
            font-family: ACLine;
            display: inline-block;
            padding: 0 25%;
            margin-top: 30px;
            font-size: $font_size_xxl;

            @include respond-to(tablet) {
                padding: 0 100px;
            }

            @include respond-to(desktop) {
                padding: 0 120px;
            }

            &:before, &:after {
                content: '';
                position: absolute;
                top: 50%;
                margin-top: -5px;
                width: 25%;
                height: 10px;
                background: transparent url('../../../../static/images/decorations/title_underline.png') no-repeat;
                background-size: 98% 10px;

                @include respond-to(tablet) {
                    width: 100px;
                }
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
                transform: rotate(180deg);
            }
        }
    }
}