@import '../../../core/styles/variables';

.Menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 100px;
    min-height: 100vh;

    .menu {
        color: #fff;

        &__title {
            padding: 20px 0;

            font-size: 24px;
            font-weight: bold;
            letter-spacing: 2px;
            text-align: center;
        }

        &__logo {
            margin-bottom: 50px;
            padding-left: 65px;
        }

        &__logo-image {
            width: 120px;
            height: 120px;
        }

        &__nav {
        }

        &__item-link {
            display: block;
            padding: 10px 0 10px 65px;

            color: #fff;
            text-transform: uppercase;
            transition: background 0.3s;

            &:hover { 
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
    }

}