@import '../../../core/styles/variables';
@import '../../../core/styles/mixins';

.Reviews {

    &__header {
        padding: 30px;

        background: #3f5525 url('../../../../static/images/backgrounds/contacts_header.jpg');

        color: $white;
        font-size: $font_size_xxl;
        text-transform: uppercase;
        text-align: center;
        font-family: ACLine;
        letter-spacing: 1px;
    }

    &__content {
        padding-top: 40px;
        padding-bottom: 600px;

        background-color: #f0f0ef;
        background-image: url('../../../../static/images/backgrounds/reviews_bg.jpg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .review-gallery {
        position: relative;
        margin: 0 auto;
        width: 300px;

        &__arr {
            position: absolute;
            bottom: -40px;

            width: 32px;
            height: 32px;

            font-size: 0;

            background-color: transparent;
            background-image: url('../../../../static/images/decorations/arrow.png');
            background-size: 32px 32px;

            cursor: pointer;

            @include respond-to(tablet) {
                bottom: inherit;
                top: 40%;
            }

            &_next {
                right: 0;

                @include respond-to(tablet) {
                    right: -110px;
                }
            }

            &_prev {
                left: 0;

                transform: rotate(180deg);

                @include respond-to(tablet) {
                    left: -120px;
                }
            }

        }
    }

    .review {
        &__person {
            margin-bottom: 20px;

            font-family: ACLine;
            font-size: $font_size_xl;
            letter-spacing: 1px;
            font-weight: bold;
            color: $mainGreen;
        }

        &__person-photo {
            float: left;
        }

        &__person-image {
            width: 90px;
            height: 90px;
        }

        &__person-name {
            margin-left: 110px;
            padding-top: 15px;

            &:after {
                content: ',';
            }
        }

        &__person-type {
            margin-left: 110px;
        }

        &__text {
            text-align: justify;
            line-height: 1.4em;
        }

    }
}