@import '../../../core/styles/variables';
@import '../../../core/styles/mixins';

.Events {
  background: #fff url('../../../../static/images/backgrounds/cover.jpg') 50% 25%;
  background-size: cover;
  padding: 80px 0;

  @include respond-to(tablet) {
    padding: 80px 10%;
  }

  @include respond-to(laptop) {
    background-image: url('../../../../static/images/backgrounds/cover_events.jpg');
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    position: relative;
    padding: 0 25%;
    text-align: center;
    text-transform: uppercase;
    color: $mainGreen;
    font-size: $font_size_xxl;
    font-family: ACLine;

    @include respond-to(tablet) {
      padding: 0 100px;
    }

    @include respond-to(laptop) {
      padding: 0 120px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -5px;
      width: 25%;
      height: 10px;
      background: transparent url('../../../../static/images/decorations/title_underline.png') no-repeat;
      background-size: 98% 10px;

      @include respond-to(tablet) {
        width: 100px;
      }
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
      transform: rotate(180deg);
    }
  }

  &__form, .form {
    padding: 0 10%;

    @include respond-to(laptop) {
      padding: 0;
      width: 300px;
      position: relative;
      left: -80px;

      &:before, &:after {
        content: "";
        position: absolute;
      }

      &:before {
        top: 130px;
        left: -205px;
        width: 125px;
        height: 150px;
        background: url('../../../../static/images/elements/sonic-5.png') no-repeat;
        background-size: 125px 150px;
      }

      &:after {
        bottom: -50px;
        left: -260px;
        width: 250px;
        height: 250px;
        background: url('../../../../static/images/elements/vinyl-5.png') no-repeat;
        background-size: 250px;
      }
    }

    .chosen {
      position: relative;
      
      margin: 60px 0 15px 0;

      background: #dfd7ce;
      
      border: 1px solid #443f3d;
      border-radius: 3px;

      &__title {
        display: none;
        position: absolute;
        right: 325px;
        font-size: $font_size_l;
        font-weight: bold;
        white-space: nowrap;
        opacity: .75;

        @include respond-to(laptop) {
          display: block;
        }
      }

      &__options {
        display: none;

        position: absolute;
        top: 110%;
        left: -1px;
        right: 30px;
        
        background: #dfd7ce;
        
        border: 1px solid #443f3d;
        border-radius: 3px;

        z-index: 10000;

        &.active {
          display: block;
        }

      }

      &__current {
        position: relative;
        display: block;
        padding-right: 30px;
        text-decoration: none;

        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          background: #595754 url('../../../../static/images/svg/down-arrow.svg') center no-repeat;
          background-size: 16px;
          height: 100%;
          width: 30px;
          z-index: 101;
        }

        &.active {

          & > .option {
              border-bottom-left-radius: 0;
          }

          &:after {
            background-image: url('../../../../static/images/svg/close-button.svg');
            background-size: 14px;
          }
        }
      }

      .option {
        display: block;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 3px;

        &:hover {
          background-color: #eae6df;
        }

        &__description {
          display: flex;
          justify-content: space-between;
          font-weight: bold;
        }

        &__time {
          margin-left: 5px;
          color: $red;
        }

        &__date {
          color: $mainGreen;
          margin-left: 10px;
        }

        &__freePlaces {
          margin-top: 10px;
          opacity: .75;
          text-align: right;
          text-transform: none;

          .quantity {
            font-weight: bold;
            margin-left: 5px;
          }
        }
      }
    }

    &__moreLink {
      text-align: right;

      a {
        position: relative;
        text-decoration: underline;

        &:after {
          content: '';
          position: absolute;
          left: -25px;
          top: -2px;
          background: #ffffff url('../../../../static/images/svg/icon.svg') center no-repeat;
          background-size: 20px;
          height: 20px;
          width: 20px;
        }
      }
    }

    &__field {
      width: 100%;
      border: 1px solid #443f3d;
      border-radius: 3px;
      margin: 15px 0;
      padding: 18px;

      &-textarea {
        resize: none;
      }
    }

    &__btn-field {
      text-align: right;
      margin-top: 15px;
    }

    &__btn {
      padding: 10px 25px;

      color: #fff;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: ACLine;
      font-size: $font_size_l;

      border: none;
      border-radius: 4px;
      outline: none;

      background-color: #1A1A1A;
      cursor: pointer;
    }
  }

}