@import '../../../../core/styles/variables';

.WidgetTable {
    font-size: $font_size_s;

    .bar {
        font-size: 12px;

        &__amount {
            width: 200px;
            float: left;
            white-space: nowrap;
        }

        &__select {
            width: 55px;
            display: inline-block;
            margin: 0 5px;
        }

        &__search {
            width: 300px;
            float: right;
            text-align: right;
        }

        &__searchLabel {
            display: inline-block;
        }

        &__searchInput {
            margin-left: 10px;
            display: inline-block;
        }

        &__buttons {
            text-align: center;
            margin: 0 315px 0 215px;
            padding-top: 10px;
        }

        &__buttonsLink {
            color: $admin__mainColor;
            padding: 5px 10px;
            text-decoration: none;
            border: 1px solid $admin__tableBorder;
            border-left: none;
            font-family: RalewayLight;

            &:hover {
                background: $admin__lightBackground;
            }

            &:first-child {
                border-left: 1px solid $admin__tableBorder;
            }
        }
    }

    .widgetTable {
        width: 100%;
        margin-top: 15px;
        border-spacing: 0;
        border-collapse: collapse;

        tr.even {
            background: #F9F9F9;
        }

        th {
            padding: $admin__paddingTableCell;
            text-align: left;
            border: 1px solid $admin__tableBorder;
            border-bottom-width: 1px;

            &.checkbox {
                width: 20px;
            }

            &.number {
                width: 50px;
            }
        }

        td {
            font-family: RobotoLight;
            padding: $admin__paddingTableCell;
            border: 1px solid $admin__tableBorder;

            &.checkbox {
                width: 20px;
            }

            &.number {
                width: 50px;
            }

            .flagged {
                text-align: center;
                &__item {
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    margin-right: 5px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .actions{
                &__link {
                    text-decoration: underline;
                }
            }
        }
    }

    .pagination {
        margin-top: 15px;
    }
}
