@import '../../../core/styles/variables';
@import '../../../core/styles/mixins';

.WelcomeScreen {
    background-color: #fff;
    background-image: url('../../../../static/images/backgrounds/cover_comp_mobile.jpg');
    background-size: cover;
    background-position-y: 80%;
    background-repeat: no-repeat;

    @include respond-to(tablet) {
        background-image: url('../../../../static/images/backgrounds/cover_comp.jpg');
        background-size: auto 100%;
        background-position-x: 45%;
    }

    &__content {

    }

    .cover {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        @include respond-to(tablet) {
            justify-content: center;
        }

        &__content {
            padding: 90px 0 0 20px;
            width: 80%;
            align-self: center;

            @include respond-to(tablet) {
                padding: 0;
            }
        }

        &__title {
            margin-bottom: 16px;

            font-weight: bold;
            color: $mainGreen;
            letter-spacing: 2px;
            text-transform: uppercase;

            font-size: $font_size_xxl;

            @include respond-to(tablet) {
                font-size: $font_size_extra;
            }

            &:before {
                content: '';
            }
        }

        &__title-text {
            position: relative;
            display: inline-block;

            &:before, &:after {
                content: '';
                position: absolute;
                bottom: -15px;

                width: 50%;
                height: 20px;

                background-color: transparent;
                background-image: url('../../../../static/images/decorations/title_underline.png');
                background-repeat: no-repeat;

                background-size: 98% 10px;
            }

            &:before {
                left: 0;
                background-position: -2px 50%;
            }

            &:after {
                right: 0;
                transform: rotate(180deg);
                background-position: 2px 50%;
            }
        }

        &__caption {
            margin-bottom: 10px;

            text-transform: uppercase;
            font-size: $font_size_m;

            @include respond-to(tablet) {
                font-size: $font_size_xl;
                margin-bottom: 22px;
            }
        }

        &__enroll {
        }

        &__enroll-btn {
            padding: 5px 15px;

            color: #fff;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-family: ACLine;
            font-size: $font_size_m;

            @include respond-to(tablet) {
                padding: 10px 25px;
                font-size: $font_size_l;
            }

            border: none;
            border-radius: 4px;
            outline: none;

            background-color: #1A1A1A;
        }
    }
}