// Media sizes
$sm: 425px;
$md: 768px;
$lg: 1200px;

// Admin colors
$admin__textColor: #ECF0F1;
$admin__mainColor: #73879C;
$admin__background: #F7F7F7;
$admin__lightBackground: #EDEDED;
$admin__mainBackground: #2A3F54;
$admin__tableBorder: #DDDDDD;
$admin__green: #1ABB9C;
$admin__greenBorder: #169F85;
$admin__blue: #337ab7;
$admin__blueBorder: #2e6da4;
$admin__red: #E95E4F;

// Admin paddings and margins
$admin__paddingTableCell: 10px;

// Common colors (theme colors)
$mainBlue: #54779a;
$mainGreen: #086B08;
$mainBlueDark: #2e465f;
$mainOrange: #FA7252;
$hoverLink: $mainBlue;
$textColor: #010118;
$minorColor: #e5e5e5;

// Colors
$white: #fff;
$black: #000;
$grey: #f5f5f5;
$brightGreen: #60de60;
$green: #1b5d1b;
$brightRed: #ff8686;
$red: #8e2b29;
$lightRed: #ffaeae;
$brightLight: #47b0ff;

// Font Sizes
$font_size_xs: 12px;
$font_size_s: 14px;
$font_size_m: 16px;
$font_size_xm: 18px;
$font_size_l: 20px;
$font_size_xl: 24px;
$font_size_xxl: 32px;
$font_size_extra: 46px;

// Line Heights
$lineHeightCustomPage: 1.5;
