@import '~normalize.css';
@import "~slick-carousel/slick/slick.css";

@import 'variables';
@import 'mixins';
@import 'fonts';

body {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    min-width: 320px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
}

.clearfix {
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}

.container {
    margin: 0 auto;
    padding: 0 25px;
    
    max-width: 980px;
    
    @include respond-to(md) {
        width: 100%;
        padding: 0;
    }
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}
